.wrapper{
    margin: auto;
    position: absolute;
    left: 40%;
    width: 100%;
}
.container{
    position: relative;
    margin-top: 10px;
}
#left-div{
    float: left;
    margin-right: 10px;
}
#result-div{
    color: crimson;
}