<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>BIPO-TEST</title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link type="text/css" href="/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/request.js"></script>
</head>
<body>
<div class="wrapper">
    <h1>Traverse a String!</h1>
    <form>
        <input type="text" id="str" />
        <button type="button" id="btn">Submit</button>
        <input id="btn-reset" type="reset" value="Reset" />
    </form>
    <div class="container">
        <div id="left-div">Result:</div>
        <div id="result-div"></div>
    </div>
</div>
</body>
</html>